@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/outfit";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1454 0.0040 49.6262);
    --card: oklch(0.9848 0 0);
    --card-foreground: oklch(0.1454 0.0040 49.6262);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1454 0.0040 49.6262);
    --primary: oklch(0.1454 0.0040 49.6262);
    --primary-foreground: oklch(0.9859 0.0012 106.4213);
    --secondary: oklch(0.9492 0.0075 71.3821);
    --secondary-foreground: oklch(0.1454 0.0040 49.6262);
    --muted: oklch(0.9711 0.0043 71.4130);
    --muted-foreground: oklch(0.5129 0.0202 57.8140);
    --accent: oklch(0.9492 0.0075 71.3821);
    --accent-foreground: oklch(0.1454 0.0040 49.6262);
    --destructive: oklch(0.6356 0.2082 25.3782);
    --border: oklch(0.9232 0.0026 48.7170);
    --input: oklch(0.9232 0.0026 48.7170);
    --ring: oklch(0.1454 0.0040 49.6262);
    --chart-1: oklch(0.4759 0.0537 56.5657);
    --chart-2: oklch(0.6969 0.0935 74.5399);
    --chart-3: oklch(0.3204 0.0115 48.3425);
    --chart-4: oklch(0.8336 0.1186 88.1463);
    --chart-5: oklch(0.7834 0.1261 58.7491);
    --radius: 0.125rem;
    --sidebar: oklch(0.9848 0 0);
    --sidebar-foreground: oklch(0.1454 0.0040 49.6262);
    --sidebar-primary: oklch(0.1454 0.0040 49.6262);
    --sidebar-primary-foreground: oklch(0.9848 0 0);
    --sidebar-accent: oklch(0.9492 0.0075 71.3821);
    --sidebar-accent-foreground: oklch(0.1454 0.0040 49.6262);
    --sidebar-border: oklch(0.9232 0.0026 48.7170);
    --sidebar-ring: oklch(0.1454 0.0040 49.6262);
    --destructive-foreground: oklch(0.9845 0.0013 106.4239);
    --font-sans: Alata, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Alkalami, ui-serif, serif;
    --font-mono: Google Sans Code, ui-monospace, monospace;
    --shadow-color: hsl(20, 14%, 4%);
    --shadow-opacity: 0.05;
    --shadow-blur: 40px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 10px;
    --letter-spacing: -0.01em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 10px 40px 0px hsl(20 14.0000% 4% / 0.03);
    --shadow-xs: 0px 10px 40px 0px hsl(20 14.0000% 4% / 0.03);
    --shadow-sm: 0px 10px 40px 0px hsl(20 14.0000% 4% / 0.05), 0px 1px 2px -1px hsl(20 14.0000% 4% / 0.05);
    --shadow: 0px 10px 40px 0px hsl(20 14.0000% 4% / 0.05), 0px 1px 2px -1px hsl(20 14.0000% 4% / 0.05);
    --shadow-md: 0px 10px 40px 0px hsl(20 14.0000% 4% / 0.05), 0px 2px 4px -1px hsl(20 14.0000% 4% / 0.05);
    --shadow-lg: 0px 10px 40px 0px hsl(20 14.0000% 4% / 0.05), 0px 4px 6px -1px hsl(20 14.0000% 4% / 0.05);
    --shadow-xl: 0px 10px 40px 0px hsl(20 14.0000% 4% / 0.05), 0px 8px 10px -1px hsl(20 14.0000% 4% / 0.05);
    --shadow-2xl: 0px 10px 40px 0px hsl(20 14.0000% 4% / 0.13);
    --tracking-normal: -0.01em;
}

.dark {
    --background: oklch(0.1454 0.0040 49.6262);
    --foreground: oklch(0.9859 0.0012 106.4213);
    --card: oklch(0.1695 0.0057 48.3686);
    --card-foreground: oklch(0.9859 0.0012 106.4213);
    --popover: oklch(0.1454 0.0040 49.6262);
    --popover-foreground: oklch(0.9859 0.0012 106.4213);
    --primary: oklch(0.9859 0.0012 106.4213);
    --primary-foreground: oklch(0.1454 0.0040 49.6262);
    --secondary: oklch(0.2685 0.0063 34.2976);
    --secondary-foreground: oklch(0.9845 0.0013 106.4239);
    --muted: oklch(0.2685 0.0063 34.2976);
    --muted-foreground: oklch(0.7159 0.0090 56.2600);
    --accent: oklch(0.2685 0.0063 34.2976);
    --accent-foreground: oklch(0.9845 0.0013 106.4239);
    --destructive: oklch(0.3959 0.1331 25.7205);
    --border: oklch(0.2685 0.0063 34.2976);
    --input: oklch(0.2685 0.0063 34.2976);
    --ring: oklch(0.8683 0.0043 56.3664);
    --chart-1: oklch(0.6969 0.0935 74.5399);
    --chart-2: oklch(0.4759 0.0537 56.5657);
    --chart-3: oklch(0.8336 0.1186 88.1463);
    --chart-4: oklch(0.7834 0.1261 58.7491);
    --chart-5: oklch(0.3225 0.0113 57.8738);
    --sidebar: oklch(0.1695 0.0057 48.3686);
    --sidebar-foreground: oklch(0.9859 0.0012 106.4213);
    --sidebar-primary: oklch(0.9859 0.0012 106.4213);
    --sidebar-primary-foreground: oklch(0.1454 0.0040 49.6262);
    --sidebar-accent: oklch(0.2685 0.0063 34.2976);
    --sidebar-accent-foreground: oklch(0.9845 0.0013 106.4239);
    --sidebar-border: oklch(0.2685 0.0063 34.2976);
    --sidebar-ring: oklch(0.8683 0.0043 56.3664);
    --destructive-foreground: oklch(0.9845 0.0013 106.4239);
    --radius: 0.125rem;
    --font-sans: Alata, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Alkalami, ui-serif, serif;
    --font-mono: Google Sans Code, ui-monospace, monospace;
    --shadow-color: hsl(0, 0%, 0%);
    --shadow-opacity: 0.3;
    --shadow-blur: 50px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 15px;
    --letter-spacing: -0.01em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 15px 50px 0px hsl(0 0% 0% / 0.15);
    --shadow-xs: 0px 15px 50px 0px hsl(0 0% 0% / 0.15);
    --shadow-sm: 0px 15px 50px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
    --shadow: 0px 15px 50px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
    --shadow-md: 0px 15px 50px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
    --shadow-lg: 0px 15px 50px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
    --shadow-xl: 0px 15px 50px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
    --shadow-2xl: 0px 15px 50px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
    --font-sans: Alata, ui-sans-serif, sans-serif, system-ui;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --animate-meteor: meteor 5s linear infinite;
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
        }
  70% {
    opacity: 1;
        }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
        }
    }
  --animate-shiny-text: shiny-text 8s infinite
;
  @keyframes shiny-text {
  0%, 90%, 100% {
    background-position: calc(-100% - var(--shiny-width)) 0;
        }
  30%, 60% {
    background-position: calc(100% + var(--shiny-width)) 0;
        }
    }
  --font-mono: Google Sans Code, ui-monospace, monospace;
  --font-serif: Alkalami, ui-serif, serif;
  --radius: 0.125rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground)}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply font-sans bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    }
  html {
    @apply font-sans;
    }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}